@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">

    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Thank you</h1>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row">
                <h2>@ViewData["errmsg"]</h2>

            </div>

        </div>
    </div>
</div>
