    <div class="wrapper-md">
    <div class="row">
        <div class="col-sm-12 text-center">
    <h2>Connect Your Account To Emma</h2>
    <p>By linking your account to Emma we can harness the full power of our technology allowing you access to our incredibly powerful solution. Our team of certified analysts, award winning technology and of course EMMA our chat driven account manager.</p>
        </div>
    </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <!--@*<a href="http://app.meet-emma.com/oauth/Default.aspx">
            <img src="../images/lnkact.png" />
          </a>*@-->
          <a href="/Link/OnAuthorizeButtonClick">
            <img src="../images/lnkact.png" />
          </a>
        </div>

      </div>

    </div>